@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    /* Poppins,  */
    font-family: sans-serif;
}

.main-header {
    padding: 50px;
    padding-top: 30px;
}

.navbar {
    padding: 0px 30px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    flex-grow: 0.4;
    padding: 5px 10px;
}

.logo>img {
    width: 100px;
}

.list {
    flex-grow: 0.4;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    color: #5b5b5b;
}

.nav-list .active {
    font-weight: 600;
}

li {
    cursor: pointer;
}

.nav-btn>button {
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid #0683EF;
    color: #0688F0;
    border-radius: 10px;
    padding: 15px 40px;
    cursor: pointer;
}

.mid-section-img>img {
    padding-left: 5%;
    width: 90%;
    height: 500px;
}

.features {
    padding-left: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 150px;
    column-gap: 20px;
    align-items: center;
}

.feature-right-section>img {
    /* width: 600px; */
    width: 100%;
    object-fit: cover;
}

.feature-2b {
    grid-row: 2;
    grid-column: 1;
}

.feature-left-section {
    padding: 10px;
    text-align: left;
}

.feature-header {
    font-size: 50px;
    color: #3b3b3b;
}

.feature-desc {
    width: 70%;
    margin: 20px 0px;
    /* font-size: 15px; */
    color: gray;
    line-height: 2;
}

.feature-btn {
    margin-top: 20px;
    background: linear-gradient(to right, #0688F0, #076fc9);
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 20px 80px;
    cursor: pointer;
}


/* Footer */

footer {
    margin: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo {
    margin-bottom: 50px;
    width: 350px;
}

.footer-list>ul {
    list-style-type: none;
    line-height: 40px;
}

.social-media,
.footer-list {
    flex-grow: 0.1;
}

.menu-list,
.link-list,
.overview-list {
    margin-top: 10px;
    list-style-type: none;
    line-height: 40px;
    color: grey;
}

.logo-list {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.logo-list>li {
    padding: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0683EF;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    font-weight: 900;
}

.footer-logo p
/* ,
.footer-list-item  */

{
    margin-top: 20px;
    /* font-size: 15px; */
    color: grey;
    line-height: 1.5;
}

.banner {
    margin: 150px 0px;
    background: linear-gradient(#0683EF, #076fc9);
}

.banner-div {
    margin: 50px 100px;
    padding: 50px;
    /* height: 400px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
}

.banner-header {
    font-family: Poppins;
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 20px;
}

.banner-div .left {
    flex-grow: 0.1;
    width: 50%;
    line-height: 1.5;
}

.register-now {
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 15px 40px;
    cursor: pointer;
}


/* Customer Feedback */

.feedback {
    margin: 50px 100px;
}

.feedback-header {
    margin: 80px 15%;
    text-align: center;
}

.feedback-header .title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.feedback-header .desc,
.customer-name p {
    font-size: 18px;
    color: rgb(97, 97, 97);
    line-height: 1.5;
}

.customer-name h3 {
    color: #191919;
}

.feedback-grid {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.feedback-card {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 30px 30px;
}

.feedback-desc {
    font-size: 20px;
    line-height: 1.5;
    color: gray;
}

.active {
    background-color: rgb(255, 255, 255);
}

.customer-details {
    margin-top: 50px;
    display: flex;
    align-self: center;
    line-height: 1.5;
}

.customer-img {
    margin-right: 20px;
    width: 75px;
    height: 75px;
    background-color: #cecece;
    border-radius: 50%;
}


/* pricing */

.pricing {
    background: linear-gradient(to right, #08B0F6, #056CEB);
    /* height: 100vh */
}

.pricing-title {
    font-size: 40px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #FFF;
    padding: 50px;
    text-align: center;
}

.pricing-packages {
    margin: 0px 100px;
    padding-bottom: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.pricing-package-card {
    /* width: 380px; */
    background-color: rgb(255, 248, 248);
    padding-bottom: 20px;
    border-radius: 10px
}

.pack-details {
    padding: 20px 30px;
    line-height: 2;
}

.popular-pkg {
    background-color: #191919;
    color: white;
    border-radius: 10px
}

.pack-name {
    font-size: 30px;
}

.suitable-for {
    font-size: 16px;
}

.features-list {
    padding: 20px 30px;
    list-style-type: none;
}

.pack-features-list {
    list-style-type: none;
    line-height: 2.5;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.list-icon {
    margin-right: 15px;
    font-size: 20px;
    color: rgb(49, 233, 122);
}

.pack-pricing-detail {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price {
    font-size: 30px;
    margin-bottom: 20px;
}

.price-pipe {
    color: #939393;
}

.pack-pricing-detail a {
    text-decoration: none;
    color: #5b5b5b;
    font-size: 15px;
}

.choose-plan-btn {
    margin-top: 30px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 900;
    border: 2px solid #08B0F6;
    border-radius: 10px;
    color: #08B0F6;
    padding: 15px 40px;
    cursor: pointer;
}

.active-btn {
    background: linear-gradient(to right, #08B0F6, #056CEB);
    color: #FFF;
    box-shadow: 1px 1px 5px rgb(102, 99, 99);
}


/* sevices */

.service {
    background-color: #fff;
    margin: 100px;
}

.service-header {
    margin: 100px 0px;
    display: flex;
    align-items: center
}

.service-header-title {
    width: 50%;
    font-size: 40px;
    font-weight: 700;
    color: rgb(44, 44, 44)
}

.service-header-desc {
    width: 50%;
    font-size: 15 px;
    line-height: 2;
    color: gray;
}

.service-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
}

.service-img {
    margin: 10px 0px;
}

.service-icon {
    width: 50px;
    padding-bottom: 10px;
}

.service-name {
    margin-bottom: 10px;
}

.service-desc {
    width: 90%;
    font-size: 15px;
    color: gray;
    line-height: 1.5;
}

@media (max-width:768px) {
    .main-header,
    .navbar {
        padding: 20px;
    }
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .features {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 20px;
        align-items: center;
    }
    .feature-header {
        font-size: 30px;
    }
    .feature-desc {
        width: 90%;
        margin: 20px 10px;
        color: gray;
        line-height: 2;
    }
    .feature-2b {
        grid-row: auto;
        grid-column: auto;
    }
    .feature-img {
        width: 100%;
        object-fit: cover;
    }
    .service,
    .service-header {
        margin: 50px 20px;
    }
    .service-header-title,
    .service-header-desc {
        width: 100%;
    }
    .service-header {
        flex-direction: column;
        gap: 10px
    }
    .service-cards {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }
    /* pricing */
    .pricing-packages {
        margin: 0px auto;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center
    }
    .feedback,
    .feedback-header {
        margin: 20px;
    }
    .feedback-grid {
        grid-template-columns: 1fr;
    }
    .banner,
    .banner-div {
        margin: 0px;
    }
    .banner-div {
        flex-direction: column;
        gap: 10px;
    }
    .banner-div .left {
        width: 100%;
    }
    footer {
        margin: 20px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .footer-logo {
        width: 100%;
    }
}